---
title: STATS 3DA3
subtitle: Homework Assignment 6
author: "Ruziyi Duan (400292089), Xiangyi Li (400297427), Jinglong Yu (400334351)"
date: 16/04/2024
format: pdf
header-includes:
   - \usepackage{amsmath}
   - \usepackage{bbm}
   - \usepackage{array}
   - \usepackage{multirow}
   - \usepackage{graphicx}
   - \usepackage{float}
   - \usepackage{apacite}
   - \usepackage{natbib}
execute: 
  echo: true
fontsize: 11pt
bibliography: a5.bib
geometry: margin = 1in
linestretch: 1.5
---

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, plot_tree
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [27]:
ckd = pd.read_csv("kidney_disease.csv")
ckd.head(5)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

(2) transformation

In [28]:
cat = ['pc', 'pcc',"rbc","ba","htn","dm","cad","appet","pe","ane"]
for col in cat:
    ckd[col] = pd.Categorical(ckd[col]).codes

(3)

In [30]:
ckd.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,-1,1,0,0,...,44,7800,5.2,1,4,1,0,0,0,ckd
1,1,7.0,50.0,1.020,4.0,0.0,-1,1,0,0,...,38,6000,NaN,0,3,1,0,0,0,ckd
2,2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,31,7500,NaN,0,4,1,1,0,1,ckd
3,3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,32,6700,3.9,1,3,1,1,1,1,ckd
4,4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,35,7300,4.6,0,3,1,0,0,0,ckd

The dataset is from 
There are 400 observations and 25 variables in the dataset.

(4)

In [31]:
sns.heatmap(ckd)

ValueError: could not convert string to float: '\t?'

(5) Missing Value Analysis and Handling

We dropped all the missing values in the dataset

In [6]:
ckd_cld = ckd.dropna(axis = 0)
ckd_cld.isna().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64